*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    height:745px;
    width: 220px;
    background-color: rgb(184, 184, 184);
    font-size: 22px;
    text-align: center;
    padding-top: 50px;
}

.menu_title{
    color: black;
    text-decoration: none;
}
.navlink{
    margin-bottom: 20px;
    height: 50px;
    width: 220px;
    padding-top: 10px;
}
.navlink:hover{
    background-color: aqua;
    cursor: pointer;
}
.menu_title:hover{
    background-color: aqua;
    height: 200px;
    width: 500px;
    
}